.judul{
  color: white;
  font-size: 10px;  
}
.center{
  text-align: center;
}
.sparator{
  clear:both
}
.panel-body{
  color: black !Important;
}
.nav.nav-tabs > li.active > a{
  background-color: #1BBC9B;
  color: white;
}
.nav.nav-tabs > li > a {
    background-color: #f4f4f4;
    border: medium none;
    cursor: pointer;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.text-right{
  text-align: right !Important;
  float: right !Important;
}
.text-center{
  text-align: center; !Important;
}

.font-bold{
  font-weight: bold;
}
.font16{
  font-size: 16px;
}
.font14{
  font-size: 14px;
}
.judul-detail{
  font-size: 12px;
}
.images-conveyor{
  float: left;
  top: 0px;
}
.font-red{
  color: red;
}
.widget-list{
  font-size: 14px !Important;
  font-weight: bold;
}
.uppercase{
  text-transform: uppercase;
}
.judul-action{
  /*text-transform: uppercase;*/
  font-size: 14px !Important;
}

.label.label-blue {
    background-color: #3498DB;
    color: #fff;
}
.label.label-red {
    background-color: red;
    color: #fff;
}
.font-red{
  color: red;
}
.ul-margin-left{
  margin-left: 30px;
}

input[type="file"] {
    display: block;
    padding-top: 0;
}

.modal-body img{
  width: 100% !Important;
}
.kotak-gallery{
  margin-top: 15px;
  border:1px solid #ccc;
}
.line-judul{
  border-bottom: 1px solid #ccc;
  padding: 7px 29px !Important;
}
.message{
  display: none !Important;
}
.plupload_logo, .plupload_header_title, .plupload_header_text{
  display: none;
}
.float-right{
  float: right;
}
.judul-groups{
  font-size: 14px;
  color: black;
}
.ms-container .ms-list{
  height: 350px !Important;
}
.sparator{
  width: 100%;
  border:4px solid #ccc;
  margin-bottom: 5px;
}

.jdl-page{
  font-size: 16px; 
  color: black;
  font-weight: bold;
  background-color: #DADFE1;
  display: block;
  padding: 5px;
}

.jdl-page-view{
  font-size: 14px; 
  color: black;
  font-weight: bold;
  background-color: #DADFE1;
  display: block;
  padding: 5px;
}


hr.style11 {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}



.dow{
  max-width: 20px !important;
}

table .replace-inputs th {
    white-space: nowrap;
    min-width: 100px;
}


.style-radio {
  /*clear: both;*/
  margin-top: -15px;
}

.label-radio {
  width: 100%;
  border: 1px solid #E4F1FE;
  color:white !Important;
  text-transform: uppercase;
  font-weight: bold;
}

/* hide input */
input.radio:empty {
  margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #ECF0F1;
}

.level1{
  background-color: #069fad;
}

.level2{
  background-color: #0e62c7;
}
.level3{
  background-color: #f7aa47;
}

.level4{
  background-color: #d5080f;
}
/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #9CE2AE;
  background-color: #4DCB6D;
}

input.radio:checked ~ label {
  color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
  box-shadow: 0 0 0 1px #cecece;
}

.yadcf-filter-range-date{
  width: 70px !important;
}
.icon-menu{
  width: 50px;
}
.judul-menu{
  display: block;
}
.icon-menu-detail{
  width: 20px;
}

.plupload_wrapper {
    font: 11px/12px Verdana,sans-serif;
    min-width: 0px !important;
    width: 100%;
}
@media only screen and (max-width: 770px) {
   .icon-menu{
    width: 30px;
    display: block;
    float: left;
  }
  .sidebar-menu .main-menu a > span{
    margin-left: 10px;
    margin-top: 5px;
  }
  .judul-menu{
    display: none;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
  }

  .page-container .main-content {
    padding: 0px !important;
    margin-top: 20px;
  }

  .page-container .main-content .page-title .title-env, .page-container .main-content .page-title .breadcrumb-env{
    margin-left: 10px;
  }
  .page-container .sidebar-menu .sidebar-menu-inner .main-menu{
    margin-bottom: 15px;
  }

  th {
    white-space: nowrap;
    min-width: 100px;
}

}

/*#uploader_start{
  display: none;
}*/
/* ================== css Animation ================ */
.element {
  margin: 0 auto;
  /*background-color: red;*/
  animation-name: stretch;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.99);
    /*background-color: orange;*/
    /*border-radius: 100%;*/
  }
  50% {
    /*background-color: orange;*/
  }
  100% {
    transform: scale(1.09);
    /*background-color: red;*/
  }
}


.warning{
    
    height: 31px;
    width: 40px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    margin-top: 3px;
    float: right;
    margin-right: 5px;
}


@-webkit-keyframes warning {
  0% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  14% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  28% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  42% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  70% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}
@-moz-keyframes warning {
  0% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  14% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  28% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  42% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  70% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}
@-o-keyframes warning {
  0% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  14% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  28% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  42% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  70% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}
@keyframes warning {
  0% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  14% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  28% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  42% {
    -moz-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
  }
  70% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}



.warning:not(:required) {
  /*background-image: url("../images/warning1.png");*/
  -webkit-animation: warning 1300ms ease 0s infinite normal;
  -khtml-animation: warning 1300ms ease 0s infinite normal;
  -moz-animation: warning 1300ms ease 0s infinite normal;
  -ms-animation: warning 1300ms ease 0s infinite normal;
  -o-animation: warning 1300ms ease 0s infinite normal;
  animation: warning 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 50px;
  height: 40px;
  -moz-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.warning:not(:required):after, .warning:not(:required):before {
  background-image: url("../images/warning2.png");
    background-repeat: no-repeat;
    content: "";
    position: absolute;
}
.warning:not(:required):before {
  height: 50px;
    left: -2px;
    width: 50px;
}
.warning:not(:required):after {
  background-image: url("../images/warning2.png");
    height: 12px;
    top: 0;
    width: 95px;
}


